# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual Environment
venv/
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Alembic
migrations/__pycache__/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log